/* Global Layout Set-up */
* { 
    box-sizing: border-box;
    
  }

  html {
      height: 100%;
  }


   /* Tag styling */

  header {
    background-image: url("./assets/angelhack.jpg");
    /* Full height */
    height: 100%;
    /* width: 100%; */

    /* text-align: center; */
    /* overflow: hidden; */

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
    
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #fff;
  }


  main {
    border: dotted;
    position: absolute;
    left: 50%;
    width: 95%;
    transform: translate(-50%, 0%);
    overflow: hidden;
  }

  
  h2 {
    text-align:center;
    padding-bottom: 10px;
    border-bottom: dashed 2px #CCCCCC;
    color:black;
  }

  .card {
      margin-bottom: 80px;
  }

  

  
  /* Navigation Styles */
  
  .main-nav {
    width: 100%;
    background: rgb(45, 61, 133);
    min-height: 50px;
    padding: 10px;
    position: fixed;
    text-align: center;
    z-index: 1;
  }

  .nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }
  .nav .name {
    display: none;
  }
  .nav li {
    padding: 5px 10px 10px 10px;
  }
  .nav a {
    transition: all .5s;
  }
  .nav a:hover {
    color: white
  }
  
  /* Content Styling*/
  .wrapper {
    display: relative;
  }

  .first-entry {
    flex: 0 0 30%;
    /* display: block;
    width: 80%; */
    flex-direction: column;
  }

  .second-entry {
    flex: 1;
  }


  /* Image styling */
  .profile-pic {
    height: 200px;
    overflow: hidden;
    display: block;
    text-align: center;
  }

  .profile-pic img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .logo {
    height: 200px;
    overflow: hidden;
    display: block;
    text-align: center;
  }

  .logo img {
    width: auto;
    height: 150px;
  }

 

  /* Footer */
  footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 20px;
  }
  
  footer .copyright {
    top: -8px;
    margin-right: 20px;
    font-size: .75em;
  }
  
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  footer ul li {
    display: inline-block;
  }
  
  /* Link styling */
  a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .5;
    transition: all .25s;
  }
  a.twitter {
    background-image: url(images/twitter.svg);
  }
  a.linkedin {
    background-image: url(images/linkedin.svg);
  }
  a.github {
    background-image: url(images/github.svg);
  }
  a.social:hover {
    opacity: 1;
  }
  .clearfix {
    clear: both;
  }

  /* Styles for larger screens */
  @media screen and (min-width: 600px) {
    .wrapper {
       display: flex;
    }

    main {
        border: dotted;
        width: 500px;
    }

    .flex {
        display: flex;
        max-width: 1200px;
        justify-content: space-around;
        margin: 0 auto;
    }
  
    /* header {
      min-height: 450px;
    }
   */
    .nav {
      max-width: 1200px;
    }
  
    .nav .name {
      display: block;
      margin-right: auto;
      color: white;
    }
  
    /* footer {
        font-size: 1.3em;
        max-width: 1200px;
        margin: 40px auto;
    } */
  }

  @media screen and (min-width: 1080px) {
    main {
        border: dotted;
        width: 800px;
        justify-content: center;
    }

  }

  
  